body{
    margin: 10px auto;
    width: 1024px;
}
.heading{
    color: aliceblue;
    background-color: rgb(130, 29, 155);
    text-align: center;
    padding: 30px;
    
}
img{
    max-width: 100%;
}
.main{
    background-color: rgb(14, 165, 120);
    color: #fff;
    margin-top: -24px;
    padding: 20px;

}
.main h2{
    text-align: center;
}
footer{
    background-color: rgb(16, 3, 34);
    text-align: center;
    color: white;
    padding: 30px;
}